<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>

    <link rel="stylesheet" href="/public/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/public/css/dashboard/popup.css">
    <link rel="stylesheet" href="/public/css/dashboard/container_opened_chat.css">
    <link rel="stylesheet" href="/public/css/page_fade.css">

    <title>Dashboard</title>
</head>
<body>
    <div class="container-dashboard" data-user-id="<%- user._id %>">
        <div class="menubar">
            <div class="menu-btn" id="menu-btn-create-chat"><span>+</span></div>
        </div>

        <div class="container-all-chats">

            <% chats.forEach(chat => { %>
                <div class="chat" data-chat-id="<%= chat._id %>">
                    <div class="circle"></div>
                    <p><%= chat.name %></p>
                </div>
            <% }); %>

        </div>

        <div class="container-opened-chat">
            <div class="status-msg-container">
                <div class="status-msg no-chat-opened-msg">
                    <h1>No chat opened yet</h1>
                    <span class="awesome"></span>
                </div>
            </div>

            <div class="opened-chat">

                <div class="chat-header">
                    <div id="btn-open-chat-menu"></div>
                    <div id="chat-menu">
                        <button id="btn-add-user">Add user</button>
                    </div>
                </div>

                <div class="status-msg no-msgs-yet">
                    <h1>No messages yet</h1>
                    <span class="awesome"></span>
                </div>

                <div class="all-messages-container">

                    <!-- <div class="message-block my-message-block">
                        <div class="name-container">
                            <div class="circle"></div>
                            <span class="name">Dmitry:</span>
                        </div>
    
                        <div class="messages">
                            <div class="message-content">Message text lorem ipsum ds</div>
                        </div>
                    </div> -->
    
                    <!-- <div class="message-block member-message-block">
                        <div class="name-container">
                            <span class="name">Alex:</span>
                            <div class="circle"></div>
                        </div>
    
                        <div class="messages">
                            <div class="message-content">Message text lorem ipsum ds</div>
                            <div class="message-content">ipsum ds</div>
                        </div>
                    </div>
    
                    <div class="message-block my-message-block">
                        <div class="name-container">
                            <div class="circle"></div>
                            <span class="name">Dmitry:</span>
                        </div>
    
                        <div class="messages">
                            <div class="message-content">Message text lorem ipsum ds</div>
                            <div class="message-content">Lorem ipsum</div>
                        </div>
                    </div> -->
                </div>

                <div class="message-input-group">
                    <input type="text" id="inp-message">
                    <button id="btn-send-message"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-fade"></div>
    <%- include('./partials/create_chat_popup'); %>
    <%- include('./partials/add_user_popup'); %>

    <!-- Global -->
    <script> var user_id = document.querySelector('.container-dashboard').getAttribute('data-user-id'); </script>
    <script> var active_chat_id; </script>

    
    <!-- Menu -->
    <script src="/public/javascript/dashboard/menu/menu_button_actions.js"></script>

    <!-- Create chat popup -->
    <script src="/public/javascript/dashboard/menu/func_update_chats.js"></script>
    <script src="/public/javascript/dashboard/menu/create_chat_popup_action.js"></script>


    <!-- Chat -->
    <script src="/public/javascript/dashboard/chat/func_init_messages.js"></script>
    <script src="/public/javascript/dashboard/chat/func_display_chat.js"></script>
    <script src="/public/javascript/dashboard/chat/func_init_chat_click_events.js"></script>
    <script>init_chat_click_events()</script>
    
    <script src="/public/javascript/dashboard/chat/action_send_message.js"></script>

    <!-- Chat menu -->
    <script src="/public/javascript/dashboard/chat/chat_menu/btn_open_chat_menu_action.js"></script>
    <script src="/public/javascript/dashboard/chat/chat_menu/chat_menu_actions.js"></script>

</body>
</html>