<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>

    <link rel="stylesheet" href="/public/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/public/css/dashboard/create_chat_popup.css">
    <link rel="stylesheet" href="/public/css/page_fade.css">

    <script defer src="/public/javascript/dashboard/menu_button_actions.js"></script>
    <script defer src="/public/javascript/dashboard/create_chat_popup_action.js"></script>

    <title>Dashboard</title>
</head>
<body>
    <div class="container-dashboard" data-user-id="<%- user._id %>">
        <div class="menubar">
            <div class="menu-btn" id="menu-btn-create-chat"><span>+</span></div>
        </div>

        <div class="container-all-chats">

            <% chats.forEach(chat => { %>
                <div class="chat" data-chat-id="<%= chat._id %>">
                    <div class="circle"></div>
                    <p><%= chat.name %></p>
                </div>
            <% }); %>

        </div>

        <div class="container-opened-chat">
            
        </div>
    </div>

    <div class="page-fade"></div>
    <%- include('./partials/create_chat_popup')%>
</body>
</html>